app = "rage-sniper-k7asug-bitter-forest-1507.fly.dev"
primary_region = "jnb"

[build]
  image = "python:3.10-slim"

[env]
  PORT = "8080"

[[services]]
  internal_port = 8080
  protocol = "tcp"
  auto_start = true
  auto_stop = true

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
